
  	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					<p>
					  <a href="#"><span class="glyphicon glyphicon-film"></span></a>
					Films</p>
				</div>
				<div class="panel-body">
					<p>To view data of <a [routerLink]="['/films']">Films</a></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					<p>Peoples:  
						<a href="#">
							<span class="glyphicon glyphicon-group"></span>
						</a>
					</p>
				</div>
				<div class="panel-body">
					<p>To view data of <a [routerLink]="['/peoples']">peoples</a></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-default panel-size">
				<div class="panel-heading">
					<p>Planets:</p>
				</div>
				<div class="panel-body">
					<p>To view data of<a [routerLink]="['/planets']">planets</a></p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-default panel-size">
				<div class="panel-heading">
					<p>Species:</p>
				</div>
				<div class="panel-body">
					<p>To view Data of <a [routerLink]="['/species']">species</a></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-default panel-size">
				<div class="panel-heading">
					<p>Starships:</p>
				</div>
				<div class="panel-body">
					<p>To view Data of <a [routerLink]="['/starships']">Starships</a></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					<p>Vehicles:</p>
				</div>
				<div class="panel-body">
					<p>To view Data of <a [routerLink]="['/vehicles']">Vehicles</a></p>
				</div>
			</div>
		</div>
